# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Other
#np. katalogi build, release, gen, pliki .user, .sdf itp.
Debug/
Release/
Build/
GeneratedFiles/
x64/
*.sdf
*.user
